<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Practica 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item" [ngClass]="{active: vista =='home'}">
        <a class="nav-link" (click)="home()">Inicio</a>
      </li>
      <li class="nav-item" [ngClass]="{active: vista =='view-first'}">
        <a class="nav-link" (click) = "viewfirst()">Formulario</a>
      </li>
      <li class="nav-item" [ngClass]="{active: vista =='view-second'}"> 
        <a class="nav-link" (click) = "viewsecond()">Datos</a></li>
         
       
      
      
    </ul>
 
    
  </div>
</nav>