<div class="form-group">
  <label for="">NOMBRE:</label>
  <input type="text" name="" id="" class="form-control" placeholder="ingresa tu nombre" aria-describedby="helpId" [(ngModel)]="datos.nombre">
  
  
  <label for="">USUARIO:</label>
  <input type="text" name="" id="" class="form-control" placeholder="ingresa  tu usuario" aria-describedby="helpId" [(ngModel)]="datos.usuario">
  

  <label for="">TELEFONO</label>
  <input type="text" name="" id="" class="form-control" placeholder="ingresa un telefono" aria-describedby="helpId" [(ngModel)]="datos.telefono">
  

  <label for="">DIRECCION:</label>
  <input type="text" name="" id="" class="form-control" placeholder="ingresa una direccion" aria-describedby="helpId" [(ngModel)]="datos.direccion">

  <label for="">EMAIL:</label>
  <input type="text" name="" id="" class="form-control" placeholder="ingresa una direccion" aria-describedby="helpId" [(ngModel)]="datos.email">


</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="Submit()"> agregar </button>
<button type="button" name="" id="" class="btn btn-danger btn-lg btn-block" (click)="delete()"> borrar </button>

